doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(name="format-detection" content="telephone=no")
		meta(name="google-site-verification" content="LXsJWKc4kL1lFlkEdfoAtyl2tsZlX4-lVEu5LkMBcsI")
		meta(name="title" content="Thinquant: Analytics Website For Cricket Trading")
		meta(name="description" content="Cricket Trading Odds")
		meta(name="keywords" content="cricket, trading, analytics, thinkquant, cricket blog, sports market odds, cricket market, betting odds, cricket odds, sports betting")
		title= title
		link(rel="stylesheet", type="text/css", href="/semantic/dist/semantic.min.css")
		link(rel="stylesheet", href='/stylesheets/style.css')
	body
		.ui.small.menu.inverted.fixed
			a.item(href='/')
				img(src="/images/logo.png" style="width:10.8em")
			a(class=(title==='Blog'? 'active item':'item'),href='/blog')
				| Blog
			if user
				if user.type == 'admin'
					a(class=(title==='Add Blog'? 'active item':'item'),href='/blog/add')
						| Add Blog
			.right.menu
				if !user
					a(class=(title==='signup'? 'active item':'item'),href='/users/register')
						.ui.animated.inverted.button(tabindex='0')
							.visible.content Register
							.hidden.content
								i.add.user.icon
					a(class=(title==='login'? 'active item':'item'),href='/users/login')
						.ui.animated.orange.button(tabindex='0')
							.visible.content Sign In
							.hidden.content
								i.sign.in.icon
				if user
					a(class=(title==='Account'? 'active item':'item'),href='/users/account')
						.ui.animated.inverted.button(tabindex='0')
							.visible.content #{user.name}
							.hidden.content
								i.user.icon
					a.item(href='/users/logout')
						.ui.animated.orange.button(tabindex='0')
							.visible.content Sign Out
							.hidden.content
								i.sign.out.icon
		.ui.hidden.divider(style="margin-top:70px")
		.ui.container
			!= messages()
			block content
	.ui.inverted.vertical.footer.segment
		.ui.center.aligned.container
			.ui.stackable.inverted.divided.grid
				.eight.wide.column
					h3.ui.inverted.header About ThinkQuant
					p ThinkQuant is an analytics firm based out of Gurgaon, India. We specialize in making predictive models, with a rich history in the financial markets. Our predictive model for cricket ThinkQuant is live, and can work in-play during a cricket match.
				.eight.wide.column
					h3.ui.inverted.header Contact Us
					i.mail.icon
					| services@thinkquant.in 
					i.phone.icon
					| Alok Noronha (CEO) at 9953916443.
					br
					i.building.icon
					| 326, Star Tower, Sector 30, Gurgaon
					br
					a(href="https://twitter.com/quant_think")
						i.twitter.icon
						| Twitter/quant_think
			.ui.inverted.section.divider
			img.ui.centered.small.image(src='/images/logo.png')
			.ui.horizontal.inverted.small.divided.link.list
				p.item &copy; 2017, All Rights Reserved
	script( src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" )
	script( src="/semantic/dist/semantic.min.js" )
	script( src="/javascripts/scripts.js" )
	block scripts
