doctype html
html
	head
		meta(name="google-site-verification" content="LXsJWKc4kL1lFlkEdfoAtyl2tsZlX4-lVEu5LkMBcsI")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		title= title
		link(rel="stylesheet", type="text/css", href="/semantic/dist/semantic.min.css")
		link(rel="stylesheet", href='/stylesheets/style.css')
	body(onload="noBack();" onpageshow="if (event.persisted) noBack();" onunload="")
		.ui.small.menu
			a(class=(title==='ThinkQuant'? 'active item':'item'),href='/')
				| Home
			a(class=(title==='Blog'? 'active item':'item'),href='/blog')
				| Blog
			if user
				if user.type == 'admin'
					a(class=(title==='Add Blog'? 'active item':'item'),href='/blog/add')
						| Add Blog
			.right.menu
				if !user
					a(class=(title==='signup'? 'active item':'item'),href='/users/register')
						.ui.animated.primary.button(tabindex='0')
							.visible.content Register
							.hidden.content
								i.add.user.icon
					a(class=(title==='login'? 'active item':'item'),href='/users/login')
						.ui.animated.primary.button(tabindex='0')
							.visible.content Sign In
							.hidden.content
								i.sign.in.icon
				if user
					a(class=(title==='Account'? 'active item':'item'),href='/users/account')
						.ui.animated.primary.button(tabindex='0')
							.visible.content #{user.name}
							.hidden.content
								i.user.icon
					a.item(href='/users/logout')
						.ui.animated.primary.button(tabindex='0')
							.visible.content Sign Out
							.hidden.content
								i.sign.out.icon
		.ui.hidden.divider
		.ui.container
			!= messages()
			block content
	.ui.container
		footer
			.ui.inverted.segment
				.ui.inverted.secondary.pointing.menu
					.item
						| &copy; 2017, All Rights Reserved
	script( src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" )
	script( src="/semantic/dist/semantic.min.js" )
	script( src="/javascripts/scripts.js" )
	block scripts
