extends layout

block content
	.ui.container
		.ui.two.column.middle.aligned.very.relaxed.stackable.grid(style='position: relative')
			.row
				.ui.hidden.divider
			.row
				.column
					h3.ui.block.header.segment.raised Please Login
					form.ui.form.segment.raised(method='post', action='/users/login')
						.ui.error.message
						.field
							label Email
							.ui.left.icon.input
								input(name='email', type='text', placeholder='Email')
								i.mail.icon
						.field
							label Password
							.ui.left.icon.input
								input(name='password', type='password', placeholder='Password')
								i.lock.icon
						button.ui.button(type='submit') Log In
				.divider-column
					.ui.vertical.divider Or
				.center.aligned.column
					.ui.large.buttons.social-buttons
						form.ui.form(method='get', action='/users/auth/google')
							button.ui.google.plus.button(target='_blank', type='submit') Google
						.or
						form.ui.form(method='get', action='/users/auth/facebook')
							button.ui.facebook.button(target='_blank',type='submit') Facebook
				
				