extends layout

block content
	if errors
		each error, i in errors
			.ui.error.message
				i.close.icon
				.header
					| There were some errors with your submission
				ul.list
					li #{error.msg}
	.ui.grid
		.six.wide.centered.column
			h3.ui.block.header Please Register 
			form.ui.form.segment(method='post', action='/users/register')
				.ui.error.message
				.field
					label Name
					input(name='name', type='text', placeholder='Name',value=( name ?name:'') )
				.field
					label Username
					input(name='username', type='text', placeholder='Username',value=( username ?username:'') )
				.field
					label Email
					input(name='email', type='email', placeholder='Email', value=( email ?email:''))
				.field
					label Password
					input(name='password', type='password', placeholder='Password', value=( password ?password:''))
				.field
					label Confirm Password
					input(name='password2', type='password', placeholder='Confirm Password', value=( password2 ?password2:''))
				button.ui.button(type='submit') Submit
