extends ../layout

block content
	.ui.container(style="margin:5%")
		.ui.grid.equal.width
			.column
				a(href="/admin/prepare")
					.ui.button.primary Prepare
			.column
				a(href="/admin/start")
					.ui.button.green Start
			.column
				a(href="/admin/live")
					.ui.button.orange Live
			.column
				a(href="/admin/stop")
					.ui.button.red Stop