extends ../layout

block content
	.ui.container
		.ui.container(style="margin:5%")
			.ui.grid.centered.center.aligned
				.ten.wide.column
					.five.ui.buttons
						a.ui.button.primary(href="/admin/prepare") Prepare
						a.ui.button.green(href="/admin/start") Start
						a.ui.button.red(href="/admin/stop") Stop