extends ../layout

block content
	a(href="/admin/start")
		button.btn.primary Start
	a(href="/admin/live")
		button.btn.primary Live
	a(href="/admin/stop")
		button.btn.primary Stop
	a(href="/admin/prepare")
		button.btn.primary Prepare