extends ../layout

block content
	.ui.computer.tablet.only.grid.centered
		.six.wide.column.center.aligned
			.ui.info.message
				i.close.icon
				| Already a registered user please  
				span
					a(href="/users/login") login
				|  then.
	.ui.container.mobile.only.grid.center.aligned
		.sixteen.wide.column
			.ui.info.message(style="font-size:12px")
				i.close.icon
				| Already a registered user please  
				span
					a(style="text-decoration:underline" href="/users/login") login
				|  then.
	if errors
		each error, i in errors
			.ui.error.message
				i.close.icon
				.header
					| There were some errors with your submission
				ul.list
					li #{error.msg}
	.ui.container
		.ui.two.column.middle.aligned.very.relaxed.stackable.grid(style='position: relative')
			.row
				.column
					.ui.container
						h3.ui.block.header.top.attached Please Enter Registration Details 
						form.ui.form.register.attached.segment(method='post', action='/users/register')
							.ui.error.message
							.field
								label Name
								.ui.left.icon.input
									input(name='name', type='text', placeholder='Name',value=( name ?name:'') )
									i.user.icon
							.field
								label Email
								.ui.left.icon.input
									input(name='email', type='email', placeholder='Email', value=( email ?email:''))
									i.mail.icon
							.field
								label Password
								.ui.left.icon.input
									input(name='password', type='password', placeholder='Password', value=( password ?password:''))
									i.lock.icon
							.field
								label Confirm Password
								.ui.left.icon.input
									input(name='password2', type='password', placeholder='Confirm Password', value=( password2 ?password2:''))
									i.lock.icon
							button.ui.positive.button(type='submit') Submit
				.divider-column
					.ui.vertical.divider Or
				.center.aligned.column
					h2.ui.center.aligned.icon.header
						i.circular.users.icon
						|   Connect With
					.ui.big.buttons.social-buttons
						form.ui.form(method='get', action='/users/auth/google')
							button.ui.animated.google.plus.button(tabindex='0', type='submit')
								.visible.content Google 
								.hidden.content
									i.google.icon
						.or
						form.ui.form(method='get', action='/users/auth/facebook')
							button.ui.animated.facebook.button(tabindex='0', type='submit')
								.visible.content Facebook
								.hidden.content
									i.facebook.icon

			
