extends ../layout

block content
	.ui.vertical.masthead.inverted.center.aligned.segment
		.ui.text.container
			h3.ui.center.aligned.header CRICKET TRADING ODDS 
			p ThinkQuant is an analytics firm based out of Gurgaon, India. We specialize in making predictive models, with a rich history in the financial markets. Our predictive model for cricket ThinkQuant is live, and can work in-play during a cricket match. For more details about our product, mail us at services@thinkquant.in or call Alok Noronha (CEO) at 9953916443