extends ../layout

block content
	.ui.vertical.masthead.inverted.center.aligned.segment
		.ui.text.container
			h3.ui.center.aligned.header ABOUT THINKQUANT
			p ThinkQuant is an analytics firm based out of Gurgaon, India. We specialize in making predictive models, with a rich history in the financial markets. Our predictive model for cricket ThinkQuant is live, and can work in-play during a cricket match. For more details about our product, contact below
			i.mail.icon
			| services@thinkquant.in
			br  
			i.phone.icon
			| Alok Noronha (CEO) at 9953916443.
			br
			i.building.icon
			| 326, Star Tower, Sector 30, Gurgaon
			br
			a(href="https://twitter.com/quant_think")
				i.twitter.icon
				| Twitter/quant_think
