extends ../layout

block free
	style.
		body,html{
			background-color: #fbfbfb !important;
		}
		.pusher{
			background-color:#fbfbfb !important;
		}
	.intro
		.ui.container
			h1 
				span About Us
			br
			h3 Thinkquant is a sports-focused analytics and technology solutions company based out of Gurgaon with a vision to revolutionize the sports fan experience by creating best-in-class products.
	.intro1
		.ui.container
			h1.module 
				span Our Vision
			br
			h3.module To give a die hard sports fan a platform to compete.
			h3.module Be at the forefront of predictive analytics in sport.
	.team
		.ui.container
			h1.module 
				span Our Team 
			br
		.ui.container
			.ui.grid
				.column
					.ui.stackable.centered.cards
						.ui.raised.link.card
							.image.module
								img(src='/images/alok.jpg')
							.content
								.header.module Alok Noronha
								.meta.module
									p Chief Executive Officer and Co-founder
								.description.module
									| Alok is a MBA graduate from IIM Lucknow with 9 years of financial markets experience. He has worked with Edelweiss Securities in Mumbai for 4 years as a fixed income and currency quant trader. He then founded his own start-up fund QTS Capital LLP in Gurgaon, were he traded quantitative algorithms.
						.ui.raised.link.card
							.image.module
								img(src='/images/matt.png')
							.content
								.header.module Ajay Kumar
								.meta.module
									p Research Desk and Co-founder
								.description.module
									| Ajay is a MBA graduate from IIM Calcutta with 8 years of Quant trading & HFT modeling experience. He has worked with Edelweiss Securities in Mumbai for 7 years as part of the Quant team where he was a fund manager for the last 4 years of his tenure.
						.ui.raised.link.card 
							.image.module
								img(src='/images/matt.png')
							.content
								.header.module Avinash Teethla
								.meta.module
									p Technology Stack and Co-founder
								.description.module
									| Avinash is a Computer Science graduate from IIT Bombay with 4 years of low latency technology & research infra development. He has worked with Edelweiss Securities in Mumbai for 3 years as HFT programmer.
block scripts
	script(src="/javascripts/what.js")