extends ../layout

block free
	style.
		body,html{
			background-color:#1b1c1d !important;
		}
		.pusher{
			background-color:#1b1c1d !important;
		}
	.intro
		.ui.container
			h1 
				span Cricket 
				|  Odds Prediction Model
			br
			h3 The ThinkQuant model is a bottom up model, where we take individual player (batsman and bowler) attributes plus ground attributes as inputs. Our model is a simulation of 600 (for 50 over matches) interactions between a batsman and a bowler in those specific conditions. 
			h3 Our outputs are in-play, not just pre-match. Currently we price match winning probabilities, team score projections,probabilities of reaching a particular score and top scorer / top wicket taker predictions for limited overs matches.