extends ../layout

block free
	style.
		body,html{
			background-color:#fff !important;
		}
		.pusher{
			background-color:#fff !important;
		}
	.intro.company
		.ui.container
			h1  THINK QUANT SOLUTIONS PVT LTD
				|  SPORTS GAMING, TRADING AND ANALYTICS - EXECUTIVE SUMMARY
			br
			br
			p
				strong THE IDEA
			p
				| To leverage our collective experience in developing predictive analytics models in financial markets to cricket and then other sports. Our models will predict various outcomes within a cricket match, like match results, team scores and individual player contributions. We will primarily focus on:
			ul
				li
					| Subscription to our 
					strong predictive model
					|  from cricket traders and investors; who for the most are based in the UK.
					ul
						li
							| We have a ThinkQuant model which can give match wining probabilities, team/player scores during a live match. Cricket traders in the UK, plus cricket and analytics buffs all over will be interested in such an offering. 
			p  
			ul
				li
					| Our 
					strong gaming platform
					|  which will used by cricket fans in India
					ul
						li
							| Our gaming platform will have subscribers playing prediction games on individual scores, wickets taken and team scores. This will be done using real money and fantasy chips.
						li
							| Contestants spent an estimated $3.26 billion on daily fantasy sports in 2016, up about 4 percent from a year earlier, according to an annual market study released in January,2017 by research firm. However in cricket, fantasy sports has just penetrated the fantasy teams space, leaving open a space for prediction games.
			p  
			ul
				li
					| Our 
					strong auction model 
					| to help franchise teams to bid for players before major tournaments like the IPL, Big Bash and the Natwest T20.
			br
			br
			p
				strong THE FOUNDING TEAM
			p
				| Think Quant is headquartered in Gurgaon, within the National Capital Region of India. The company is co-owned by four partners Alok Noronha, Ajay Kumar & Avinash Theetla.
			ul
				li
					strong Alok Noronha
					|  -
					ul
						li
							strong Profile
							| : Alok is a MBA graduate from IIM Lucknow with 9 years of financial markets experience. He has worked with Edelweiss Securities in Mumbai for 4 years as a fixed income and currency quant trader. He then founded his own start-up fund QTS Capital LLP in Gurgaon, were he traded quantitative algorithms
						li
							strong Responsibility
							| : Alok is the full-time CEO of the company, responsible for all daily operations and future strategy.
			p  
			ul
				li
					strong Ajay Kumar
					|  -
					ul
						li
							strong Profile
							| : Ajay is a MBA graduate from IIM Calcutta with 8 years of Quant trading & HFT modeling experience. He has worked with Edelweiss Securities in Mumbai for 7 years as part of the Quant team where he was a fund manager for the last 4 years of his tenure
						li
							strong Responsibility: 
							| Ajay is in charge of the research desk of the firm in an advisory capacity.
			p
				strong  
			ul
				li
					strong Avinash Teethla - 
					ul
						li
							strong Profile: 
							| Avinash is a Computer Science graduate from IIT Bombay with 4 years of low latency technology & research infra development. He has worked with Edelweiss Securities in Mumbai for 3 years as HFT programmer.
						li
							strong Resposibility:
							|  Avinash is in charge of the technology stack of the firm in an advisory capacity.
			br
			br
			p
				strong THE MARKET
			br
			br
			p
				strong Quant Trading:
			p
				| Betfair is the biggest online sports trading exchange globally. A typical ODI and T20 match gross approximately $60mn in trading volume on this platform. These include matches between international teams, tournaments like the IPL and the Big Bash. In 2016, there were 99 ODIs, 100 T20s, 60 IPL matches and 35 Big Bash matches. That is a total of 294 matches approximating $17bn a year.
			p
				| This market is where the financial markets were about 20 years ago. Most trading decisions are made using discretion, bias and some heuristics; rather than being studied and mechanized using data. While this transformation has been faster in other sports like horse racing, football and the American sports, it's also started now in cricket where there are about 3 companies in the UK itself that have started doing this.
			br
			br
			p
				strong Gaming Platform:
			p
				| There is an increasing appetite amongst Indians to play online games where they compete with others. Sports gaming firms like dream11 and foreseegame have generated significant traction in India. Combined they generate around 95000 unique users daily. The top poker websites in India have around 6000 unique users daily. Most of these subscribers show a significant aptitude to wager their own money to test their skill, rather than play with fantasy chips.
			br
			br
			p
				strong CONTACT DETAILS 
			p Alok Noronha
			p Mob - 9953916443
			p Email - services@thinkquant.in
			p Office - 326, Star Tower, Sector 30, Gurgaon
