extends ../layout

block content
	.ui.grid
		.ui.container.ten.wide.centered.column.matchHeader
			h3.ui.horizontal.divider.header
					i.bar.chart.icon
					| Match Prediction
	.ui.container.centered
		.ui.two.column.middle.aligned.very.relaxed.stackable.centered.grid(style='position: relative')
			.row
				.column.ten.wide
					canvas.oddscanvas
				.column.ten.wide.computer.only.grid
					table.ui.table.unstackable.segment.raised
						thead
							tr
								th Team
								th Actual Score
								th Win Probability
								th Implied Odds
								th Predicted Score
						tbody
							tr
								td.team1name  ..
								td.team1actual  ..
								td.team1winprob  ..
								td.team1odds  ..
								td.team1pred  ..
							tr
								td.team2name  ..
								td.team2actual ..
								td.team2winprob ..
								td.team2odds ..
								td.team2pred ..
				.column.ten.wide.tablet.mobile.only.grid
					table.ui.table.small.definition.unstackable.segment.raised
						tbody
							tr
								td Team
								td.team1name  ..
								td.team2name  ..
							tr
								td Actual Score
								td.team1actual  ..
								td.team2actual  ..
							tr
								td Win Probability
								td.team1winprob  ..
								td.team2winprob ..
							tr
								td Implied Odds
								td.team1odds  ..
								td.team2odds ..
							tr
								td Predicted Score
								td.team1pred  ..
								td.team2pred ..
			.row
				.column.twelve.wide.firstInningsProb.computer.only.grid
					table.ui.table.segment.raised
						thead
							tr
								th First Innings Score
								th.prob1value ..
								th.prob2value ..
								th.prob3value ..
								th.prob4value ..
								th.prob5value ..
								th.prob6value ..
								th.prob7value ..
						tbody
							tr
								td Probability
								td.prob1percent ..
								td.prob2percent ..
								td.prob3percent ..
								td.prob4percent ..
								td.prob5percent ..
								td.prob6percent ..
								td.prob7percent ..
				.column.twelve.wide.firstInningsProb.tablet.mobile.only.grid
					table.ui.table.small.unstackable.definition.segment.raised
						tbody
							tr
								td First Innings Score
								td Probability
							tr
								td.prob1value ..
								td.prob1percent ..
							tr
								td.prob2value ..
								td.prob2percent ..
							tr
								td.prob3value ..
								td.prob3percent ..
							tr
								td.prob4value ..
								td.prob4percent ..
							tr
								td.prob5value ..
								td.prob5percent ..
							tr
								td.prob6value ..
								td.prob6percent ..
							tr
								td.prob7value ..
								td.prob7percent ..

				.column.six.wide
					canvas.winprobcanvas
			.row
				.ui.vertical.masthead.inverted.center.aligned.segment
					.ui.text.container
						h3.ui.center.aligned.header ABOUT THINKQUANT
						p ThinkQuant is an analytics firm based out of Gurgaon, India. We specialize in making predictive models, with a rich history in the financial markets. Our predictive model for cricket ThinkQuant is live, and can work in-play during a cricket match. For more details about our product, contact below
						i.mail.icon
						| services@thinkquant.in
						br  
						i.phone.icon
						| Alok Noronha (CEO) at 9953916443.
						br
						i.building.icon
						| 326, Star Tower, Sector 30, Gurgaon
						br
						a(href="https://twitter.com/quant_think")
							i.twitter.icon
							| Twitter/quant_think
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
	script( src="/javascripts/matchData.js" )
