extends ../layout

block content
	.ui.grid
		.six.wide.centered.column
			h3.ui.horizontal.divider.header
					i.bar.chart.icon 
					| Match Prediction
	.ui.container.centered
		.ui.two.column.middle.aligned.very.relaxed.stackable.centered.grid(style='position: relative')
			.row
				.column.ten.wide
					canvas.oddscanvas
				.column.ten.wide
					table.ui.table.segment.raised
						thead
							tr
								th Team
								th Actual Score
								th Win Probability
								th Implied Odds
								th Predicted Score
						tbody
							tr
								td.team1name  ..
								td.team1actual  ..
								td.team1winprob  ..
								td.team1odds  ..
								td.team1pred  ..
							tr
								td.team2name ..
								td.team2actual ..
								td.team2winprob ..
								td.team2odds ..
								td.team2pred ..
			.row
				.column.twelve.wide.firstInningsProb
					table.ui.table.segment.raised
						thead
							tr
								th First Innings Score
								th.prob1value ..
								th.prob2value ..
								th.prob3value ..
								th.prob4value ..
								th.prob5value ..
								th.prob6value ..
								th.prob7value ..
						tbody
							tr
								td Probability
								td.prob1percent ..
								td.prob2percent ..
								td.prob3percent ..
								td.prob4percent ..
								td.prob5percent ..
								td.prob6percent ..
								td.prob7percent ..
				.column.six.wide
					canvas.winprobcanvas
block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js")
	script( src="/javascripts/matchData.js" )
