extends ../layout

block content
	.intro.services
		.ui.container
			h1 Services Offered
			br
			p 
				strong Portfolio management of cricket portfolio-
			br
			p Our Cricsta model is customize-able to provide trading signals that will be profitable to your sports trading portfolio
			br
			p 
				strong Live pricing of match odds -
			br
			p Our Cricsta model will work to optimize the pricing of a bookmaker during a cricket match.
			br
			p 
				strong Franchise auction model -
			br
			p We have ready a machine learning model that can assist franchise teams in an auction process by giving live pricing for every player that comes under the hammer.
			img(src="/images/auction.png")