extends ../layout

block free
	.intro
		.ui.container
			h1 
				span What We Do
		br
		br
		.ui.contianer
			.ui.container
				.ui.grid.centered.computer.only
					.four.wide.column
						a(href="#fantasy")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.game.icon
								|   Fantasy Gaming
								.wobble Beta
					.four.wide.column
						a(href="#prediction")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.line.chart.icon
								|   Match Prediction Model
								.pulsate Live
					.four.wide.column
						a(href="#auction")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.legal.icon
								|   Auction Model
								.wobble Available
					.four.wide.column
						a(href="#evaluation")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.dashboard.icon
								|   Data Tracking
								.wobble Coming Soon
				.ui.grid.centered.mobile.tablet.only
					.four.wide.column
						a(href="#fantasy")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.game.icon
								|   Fantasy Gaming
								.wobble Beta
					.four.wide.column
						a(href="#prediction")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.line.chart.icon
								|   Match Prediction Model
								.pulsate Live
					.four.wide.column
						a(href="#auction")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.legal.icon
								|   Auction Model
								.wobble Available
					.four.wide.column
						a(href="#evaluation")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.dashboard.icon
								|   Data Tracking
								.wobble Coming Soon
	.ui.items
		.item#fantasy
			.image.module
				img(src='/images/game-proto.png')
			.content.middle.aligned
				.header.module Fantasy Gaming
				.description.module
					p Buy and sell the points  a player will score, just like stocks. The only fantasy game that can be played during the match.
				.extra.module
					a(style="color:white",href="/game/account") Click here to check the beta game.
		.item#prediction
			.content.middle.aligned
				.header.module Match Prediction
				.description.module
					p The ThinkQuant model is a bottom up model where we translate individual player and pitch attributes into live winning probabilities and predicted scores. The outputs are live and in-play, not just pre-match. The latest analytical techniques are used to create this model. 
				.extra.module
					a(href="/prediction") Click here to check the 
						span.pulsate Live
						|  prediction model.
			.image.module
				img(src='/images/prediction-proto.png')
		.item#auction
			.image.module
				img(src='/images/auction-proto.png')
			.content.middle.aligned
				.header.module Auction Model
				.description.module
					p GUI based bidding system using machine learning that augments the bidding process with : 
					ul
						li Recommended Max Bid Price for every player that comes under the hammer.
						li User input to customize team structure like batsman / bowler mix. 
						li It is a live model that will update the Max bid price of each player taking into account the players that have already been bid / rejected.
				.extra.module
					p Available
		.item#evaluation
			.content.middle.aligned
				.header.module Data Tracker
				.description.module
					p Exhaustive and quality sports data is key to deep dive into any sports analytics. We are storing such data, for both in-house studies and for client use. 
				.extra.module
					p Coming Soon
			.image.module
				img(src='/images/evaluation-proto.png')
block scripts
	script(src="/javascripts/what.js")