extends ../layout

block free
	.intro
		.ui.container
			h1 
				span What We Do
		br
		br
		.ui.contianer
			.ui.container
				.ui.grid.centered.computer.only
					.four.wide.column
						a(href="/game")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.game.icon
								|   Fantasy Gaming
								.wobble Beta
					.four.wide.column
						a(href="/prediction")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.line.chart.icon
								|   Match Prediction Model
								.pulsate Live
					.four.wide.column
						a(href="#auction")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.legal.icon
								|   Auction Model
								.wobble Available
					.four.wide.column
						a(href="#evaluation")
							h3.ui.center.aligned.icon.header
								i.bordered.orange.dashboard.icon
								|   Data Tracking
								p Coming Soon
				.ui.grid.centered.mobile.tablet.only
					.four.wide.column
						a(href="/game")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.game.icon
								|   Fantasy Gaming
								.wobble Beta
					.four.wide.column
						a(href="/prediction")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.line.chart.icon
								|   Match Prediction Model
								.pulsate Live
					.four.wide.column
						a(href="#auction")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.legal.icon
								|   Auction Model
								.wobble Available
					.four.wide.column
						a(href="#evaluation")
							h6.ui.center.aligned.icon.header
								i.bordered.orange.dashboard.icon
								|   Data Tracking
								p Coming Soon
	.ui.items
		.item#fantasy
			.image.module
				img(src='/images/game-proto.png')
			.content.middle.aligned
				.header.module Fantasy Gaming
				.description.module
					p Super Selector : Create fantasy dream teams than compete with other teams. 
					br
					p Player markets : Go long & short the points a player will score, a la the derivative market.
				.extra.module
					a(style="color:white",href="/game") Beta
		.item#prediction
			.content.middle.aligned
				.header.module Match Prediction
				.description.module
					p The ThinkQuant model is a bottom up model, where we take individual player (batsman and bowler) attributes plus ground attributes as inputs. Our model is a simulation of 600 (for 50 over matches) interactions between a batsman and a bowler in those specific conditions. 
					br
					p Our outputs are in-play, not just pre-match. 
				.extra.module
					a.pulsate(href="/prediction") Live
			.image.module
				img(src='/images/prediction-proto.png')
		.item#auction
			.image.module
				img(src='/images/auction-proto.png')
			.content.middle.aligned
				.header.module Auction Model
				.description.module
					p An auction model which enables selecting the right set of players based on game and performance dynamics. An embedding model for players helps map and cluster similar players together than possible with known parameters. Similar players belong to the same set of priority queue. This structure enables a team to select a more balanced set of team with representation from right areas.
				.extra.module
					p Available
		.item#evaluation
			.content.middle.aligned
				.header.module Data Tracker
				.description.module
					p Most important aspect of sports analytics is the collection of data, so we are coming soon with a model for storing match evaluation and also individual player performance.
				.extra.module
					p Coming Soon
			.image.module
				img(src='/images/evaluation-proto.png')
block scripts
	script(src="/javascripts/what.js")