@font-face {
  font-family: handwritten;
  src: url("/fonts/Hand.ttf") format('truetype');
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fbfbfb;
  padding: 0px;
  margin: 0px;
}
body.pushable>.pusher {
  background: #fbfbfb;
}
.header{
	font-family: 'Raleway', sans-serif !important;
}

a {
  color: black;
}
a:hover {
	color: black;
	text-decoration: none;
}
.inverted a{
	color: white;
}
ul.success li, ul.info li, ul.error li{
	margin:0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}
ul.success li{
	color:#3c763d;
	/*background-color:#dff0d8;*/
	border-color:#d6e9c6;
}
ul.info li{
	color:#31708f;
	/*background-color:#d9edf7;*/
	border-color:#bce8f1;
}
ul.error li{
	color:#ff3333;
/*    background-color: #FFBABA;*/
	border-color:#ff3333;
}
.divider-column {
  position: relative;
  padding: 0 !important;
}
.error404{
	margin-top: -33px;
	margin-bottom: -6em;
	height: 90vh;
	width:100vw;
	overflow:hidden;
	background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(255, 130, 45, 0.5), rgba(255, 130, 45, 0.7)),url("/images/404.jpg");
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
}
.error404 a{
	position: absolute;
	color: rgba(255,255,255,0.6);
	font-size: calc(4vw + 10px);
	margin-top: 5%;
	margin-left: 5%;
	z-index: 100;
}
.error404 p{
	color: rgb(255,255,255);
	opacity: .6;
	margin-top: -20px;
    font-size: 20px; 
    font-weight: bold;
}
.error404 h1{
	color: rgb(255,255,255);
	font-size: calc(17vw + 40px);
  	opacity: .6;
  	letter-spacing: -17px;
	font-family: 'Montserrat', sans-serif;
}
.ui.footer.segment {
	background-color: #1b1c1d;
	/*background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(242, 113, 28, 0.2)),url("/images/footer-bg.jpg");*/
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    margin: 5em 0em 0em;
    padding: 6em 0em 2em ;
  }

 .ui.fixed.menu + .ui.grid{
 	padding-top: 0;
 }
a.ui.orange.label{
	margin-top: 5px;
}
.deleteButton, .searchButton{
	background:none!important;
    border:none; 
    padding:0!important;
    color:red;
}
.searchButton{
	color:black;
}
.timeline-Viewport {
    height: 130px !important;
}

.intro, .team, .intro1{
	color: #1b1c1d;
	background-color: #fbfbfb;
	text-align: center;
	padding-bottom: 10%; 
	/*text-align: center;*/
	padding-top:5%; 
	margin-top: -65px;
}
.intro1{
	color: white;
	text-align: center;
	background-color: #1b1c1d;
}
.team{
	margin-top: 20px;
	margin-bottom: -80px;
	/*background-color: #f4873e;*/
}
.intro1{
	margin-top: 20px;
}
#fantasy, #auction{
	margin:0;
	padding: 7.5%;
	background-color: #1b1c1d;
}
#evaluation, #prediction{
	margin: 0;
	padding: 7.5%;
	/*background-color: #f4873e;*/
}
.ui.items > .item > :not(.ui).image{
	width: 40%;
}
/*.intro.company, .intro.services{
	color: #1b1c1d;
	background-color:#fff;
	justify-content: center;
	padding-bottom: 10%; 
	text-align: center;
	padding-top:5%; 
}
.intro.services p strong{
	text-transform: uppercase;
}*/
.intro h1, .team h1, .intro1 h1{
	font-weight: 100 !important;
	margin: 2% 7%;
	border-bottom: 10px solid #f4873e;
	font-size: 26px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	/*opacity: .4;*/
}
.team h1{
	/*border-bottom: 10px solid #1b1c1d;*/
}
.intro img{
	margin-top: 2%;
	margin-left: 25%;
	max-width: 50%;	
}
.intro h1 span, .team h1 span, .intro1 h1 span{
  font-family: handwritten, 'Raleway', sans-serif;
  font-size: 50px;
}
.intro h3, .intro1 h3{
	font-weight: 100 !important;
	font-size: 18px;
	letter-spacing: 2px;
	opacity: .9;
	justify-content: center;
	margin:0% 20%;
	line-height: 2em;
}

.intro li, .intro ul, .intro p{
	font-weight: 100 !important;
	font-size: 15px;
	letter-spacing: 1px;
	opacity: .9;
	justify-content: center;
	line-height: 2em;
}
.intro ul, .intro p{
	margin:0% 12%;
}

.intro.company a{
	color: #f4873e;
}

.info.circle.icon, .help.circle.outline.icon{
	cursor: help;
}

/*css for tablets*/
@media (max-width: 767px) {
	.intro img{
		margin-left: 1%;
		max-width: 98%;	
	}
	.intro h1, .team h1, .intro1 h1{
		/*margin-right: 2%;*/
		margin: 2% 1%;
		font-size: 22px;
	}
	.intro h1 span, .team h1 span, .intro1 h1 span{
		font-size: 30px;
	}
	.intro.company h1 {
		font-size: 16px;
		letter-spacing: 2px;
		text-transform: none;
	}
	.intro h3, .intro li, .intro ul, .intro p, .intro1 h3{
		font-size: 14px;
		margin: 2% 1%;
		justify-content: center;
	}
	.error404{
		margin-top: -43px;
	}
	.error404 p{
		font-size: 14px;
		text-align: center;
		position: absolute;
		margin-top: 50vh;
	}
	.error404 h1{
	  	letter-spacing: -10px;
		text-align: center;
		position: absolute;
		margin-top: 20vh;
	}
  .ui.mobile.only.grid.center.aligned .ui.container.matchHeader h5{
    word-wrap: break-word;
   }
   .smallBlog{
   	font-size: 12px;
   }
   .menuTabs{
   	font-size: 12px;
   }
   .ui.stackable.cards > .card{ margin:1em 5em; width:calc(100% - 10em) !important; }
}

/*css for mobiles*/

.ui.mini.modal>.header:not(.ui){font-size:1.3em}@media only screen and (max-width:767px){.ui.mini.modal{width:95%;margin:0 0 0 -47.5%}}@media only screen and (min-width:768px){.ui.mini.modal{width:35.2%;margin:0 0 0 -17.6%}}@media only screen and (min-width:992px){.ui.mini.modal{width:340px;margin:0 0 0 -170px}}@media only screen and (min-width:1200px){.ui.mini.modal{width:360px;margin:0 0 0 -180px}}@media only screen and (min-width:1920px){.ui.mini.modal{width:380px;margin:0 0 0 -190px}}