body {
  padding: 0px;
  margin: 0px;
}

a {
  color: black;
}
a:hover {
	color: black;
	text-decoration: none;
}
.inverted a{
	color: white;
}
ul.success li, ul.info li, ul.error li{
	margin:20px 0 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}
ul.success li{
	color:#3c763d;
	/*background-color:#dff0d8;*/
	border-color:#d6e9c6;
}
ul.info li{
	color:#31708f;
	/*background-color:#d9edf7;*/
	border-color:#bce8f1;
}
ul.error li{
	color:#ff3333;
/*    background-color: #FFBABA;*/
	border-color:#ff3333;
}
.divider-column {
  position: relative;
  padding: 0 !important;
}
.ui.footer.segment {
	background:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0), rgba(242, 113, 28, 0.2)),url("/images/footer-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    margin: 5em 0em 0em;
    padding: 6em 0em 2em ;
  }

 .ui.fixed.menu + .ui.grid{
 	padding-top: 0;
 }

/*css for tablets*/
@media (max-width: 780px) {
  .ui.mobile.only.grid.center.aligned .ui.container.matchHeader h5{
    word-wrap: break-word;
   }
   .menuTabs{
   	font-size: 11px;
   }
}

/*css for mobiles*/
