extends ../layout

block content
	.ui.hidden.divider
	.ui.very.relaxed.stackable.centered.grid
		.row
			.column.eleven.wide
					if posts
						each post, i in posts
							.ui.header.top.attached(style="border-bottom: 2px solid #ff851b")
								a(href="/blog/#{post._id}")!=post.head
							.ui.attached.segment.piled
								p Posted on #{moment(post.date).format('LL')}
								.description!=(truncateText(post.body,700))
								.extra(style="margin-top:15px")
									a(href="/blog/#{post._id}")
										.ui.tiny.inverted.orange.button
											| Read More
											i.right.chevron.icon
							br
							br
			.column.five.wide
				.ui.segments
					.ui.segment.center.aligned
						.ui.fluid.search
							.ui.icon.input
								input.prompt(type='text', placeholder='Search...')
								i.search.icon
							.results
