extends ../layout

block content
	.ui.hidden.divider 
	.ui.container.centered
		.ui.two.column.middle.aligned.very.relaxed.stackable.centered.grid(style='position: relative')
			if posts
				each post, i in posts
					.row
						.column.ten.wide
							.ui.segment.raised
								.ui.header.block.segment.raised!=post.head
								p Posted on #{moment(post.date).format('LL')}
								.description!=post.body
							.extra
								.ui.right.floated.inverted.blue.button
									| Read More
									i.right.chevron.icon
